{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}
{% block page_title %}{{ title|trans }}{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                    {{ form_row(form.note) }}
                    <div class="d-flex gap-2 mt-3">
                        <button type="submit" class="btn btn-primary">{{ 'btn.save'|trans }}</button>
                        <a href="{{ path('special_date_index') }}" class="btn btn-outline-secondary">{{ 'btn.cancel'|trans }}</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
(function () {
    const from = document.getElementById('special_date_startDate');
    const to   = document.getElementById('special_date_endDate');
    if (!from || !to) return;

    from.addEventListener('change', function () {
        if (to.value === '' || to.value === from._prev) {
            to.value = from.value;
        }
        from._prev = from.value;
    });

    // Initialwert merken
    from._prev = from.value;
})();
</script>
{% endblock %}
